<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluo.service.resource.mapper.MajorMapper">
    <select id="findByMajorCode" resultType="org.bluo.service.resource.pojo.Major">
        select id, name, major_code
        from major
        where major_code = #{majorCode}
    </select>
</mapper>