<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluo.service.resource.mapper.SchoolMapper">

    <select id="selectBySchoolCode" resultType="org.bluo.service.resource.pojo.School">
        select id, name, school_code
        from school
        where school_code = #{schoolCode}
    </select>
</mapper>