<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluo.service.blog.mapper.BlogMapper">

    <select id="findPreviewPage" resultType="org.bluo.service.blog.pojo.Blog">
        select
            id, title, user_id, type_id, description, create_time
        from
            blog
        where
            user_id = #{userId}
    </select>

    <select id="findOne" resultType="org.bluo.service.blog.pojo.Blog">
        select
            id, title, user_id, type_id, description, create_time, content
        from
            blog
        where
            id = #{blogId}
    </select>
    <select id="findByIds" resultType="org.bluo.service.blog.pojo.Blog">
        select
            content
        from
            blog
        where
            <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
    </select>
</mapper>