<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluo.service.blog.mapper.TagMapper">
    <sql id="pm">id, blog_id, name, description</sql>
    <delete id="deleteByBlogId">
        delete from
                   tag
        where
            blog_id = #{blogId}
    </delete>
    <select id="findByBlogId" resultType="org.bluo.service.blog.pojo.Tag">
        select
            <include refid="pm"/>
        from
            tag
        where
            blog_id = #{blogId}
    </select>
    <select id="findByBlogIds" resultType="org.bluo.service.blog.pojo.Tag">
        select
            <include refid="pm"/>
        from
            tag
        where
            blog_id in
            <foreach collection="blogIds" item="blogId" open="(" close=")" separator=",">
                #{blogId}
            </foreach>
    </select>
</mapper>